@use '../mixins/responsive.scss' as *;

.clocks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  max-width: 500px;
  margin-inline: auto;
  margin-top: 30px;
  padding: 45px 35px;
  border: 1px solid var(--white-color);

  @include responsive(laptop) {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
  }
}
