.clocks-container {
  display: flex;
  align-items: center;
  gap: 100px;
  max-width: 1000px;
  margin-inline: auto;
  margin-top: 30px;
  padding: 45px 35px;
  border: 1px solid var(--white-color);
}
