:root {
  --white-color: #ffffff;
  --dark-grey: #282828;
  --medium-grey: #4d4b63;
  --light-grey: #bdbdcb;
  --black-color: #000000;
  --red-color: #ee1a1a;

  --hours-rotate: -90deg;
  --minutes-rotate: 0deg;
  --seconds-rotate: 50deg;
}
